html
  head
    link(rel='stylesheet', type='text/css', href='/resources/css/materialize.css')
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    link(rel='stylesheet', type='text/css', href='/resources/css/waiting.css' id='waiting-css')
    script.
      var room = #{roomNo}
    script.
      var gamemode = #{gamemode};
      var name = "#{name}";
    script(src='/resources/pixi.js')
    script(src='/resources/pixi-extra-filters.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/resources/constants.js')
    script(src='/resources/graphicsAPI/DisplayElement.js')
    script(src='/resources/graphicsAPI/BarGraphBar.js')
    script(src='/resources/graphicsAPI/BarGraph.js')
    script(src='/resources/graphicsAPI/PlayerRanking.js')
    script(src='/resources/graphicsAPI/LoadingBar.js')
    script(src='/resources/graphicsAPI/ProgressBar.js')
    script(src='/resources/graphicsAPI/Button.js')
    script(src='/resources/graphicsAPI/Car.js')
    script(src='/resources/graphicsAPI/McqButtonHandler.js')
    script(src='/resources/graphicsAPI/QuestionDisplay.js')
    script(src='/resources/graphicsAPI/ShortAnswerTextField.js')
    script(src='/resources/graphicsAPI/TopBar.js')
    script(src='/resources/graphicsAPI/AllPlayerRanking.js')
    script(type='text/javascript', src='/resources/js/jquery.min.js')
    script(type='text/javascript', src='/resources/js/bootstrap.min.js')
    script(type='text/javascript', src='/resources/js/materialize.min.js')
    if gamemode == 0
      script(src='/controller/game/play/classic.js')
    else if gamemode == 1
      script(src='/controller/game/play/race.js')
    script(src='/controller/play-logic.js')
    script(src='/controller/game/play/common.js')
    title exQuizit! - Play
  body
    .container-fluid
      .row
        .col.s12.nav-area
          a.button-collapse(href='#', data-activates='slide-out')
            i.material-icons menu
      .row
        .col.s4
        .col.s8
          .glowworm-loader
            .glowworm-motion
              .glowworm-container
                .glowworm-left
                .glowworm-right
      .row
        .col.s4
        .col.s4
          p.white-text(style='margin:auto;text-align: center;') Waiting for game to be started... 
        .col.s4
      .row
        .col.s4
        .col.s4
          h1#waiting-header In room: #{roomNo}
          ul#waiting-list Waiting...
        .col.s4
    ul#slide-out.side-nav
      li
        a(href='/logout')
          | Logout of 
          span#acc_details  #{name}
      li
        a(href='/') Leave room
